In [2]:
# Import Libraries

import pandas as pd
import numpy as np
import os

In [3]:
# Import orders set
df_ords = pd.read_csv(r'C:\Users\nehat\OneDrive\Desktop\CF DA Immersion\Achievement 4\Instacart Basket Analysis 09\02 Data\Prepared Data\orders_checked.csv', index_col = False)

In [11]:
# Import orders_products_prior

df_ords_prior = pd.read_csv(r'C:\Users\nehat\OneDrive\Desktop\CF DA Immersion\Achievement 4\Instacart Basket Analysis 09\02 Data\Original Data\order_products_prior.csv', index_col = False)

In [7]:
path  = r'C:\Users\nehat\OneDrive\Desktop\CF DA Immersion\Achievement 4\Instacart Basket Analysis 09'

In [12]:
# check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [13]:
# confirm rows and columns

df_ords_prior.shape

(32434489, 4)

In [14]:
df_ords.shape

(3421083, 8)

In [15]:
# merge data

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [16]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,1.111484,196,1,0,both
1,0,2539329,1,prior,1,2,8,1.111484,14084,2,0,both
2,0,2539329,1,prior,1,2,8,1.111484,12427,3,0,both
3,0,2539329,1,prior,1,2,8,1.111484,26088,4,0,both
4,0,2539329,1,prior,1,2,8,1.111484,26405,5,0,both

In [18]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [22]:
#7 export in pickle format

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))